body {
  display: block;
  text-align: center;
  position: relative;
}

header {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  color: blueviolet;
}

#meme-image-container {
  width: 50%;
  height: 50%;
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}

#meme-insert {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#container-text {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
}

#meme-text {
  z-index: 10;
  margin-top: 0;
  margin-left: 40px;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  position: absolute;
}

textarea {
  display: none;
}

#meme-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  z-index: 1;
  position: relative;
}

#fire {
  border: 3px dashed red;
  background-color: red;
  color: yellow;
}

#water {
  border: 5px double blue;
  background-color: blue;
  color: lightcyan;
  font-weight: 700;
}

#earth {
  border: 6px groove green;
  background-color: green;
  color: brown;
  font-weight: 700;
}

#meme-1 {
  display: inline-block;
  width: 100px;
  position: relative;
  text-align: center;
}

#meme-2 {
  display: inline-block;
  width: 100px;
  position: relative;
  text-align: center;
}

#meme-3 {
  display: inline-block;
  width: 100px;
  position: relative;
  text-align: center;
}

#meme-4 {
  display: inline-block;
  width: 100px;
  position: relative;
  text-align: center;
}

